@kohler-dsm-library:registry=https://pkgs.dev.azure.com/KohlerDevOps/_packaging/kds/npm/registry/
registry=https://registry.npmjs.org/
; begin auth token
//pkgs.dev.azure.com/KohlerDevOps/_packaging/kds/npm/registry/:username=KohlerDevOps
//pkgs.dev.azure.com/KohlerDevOps/_packaging/kds/npm/registry/:_password=Q2tEUzROT1hBWmhiYTFrZU5sMGRuTGV5OHdwNkxZYTN0MHhaQzZlREltakVzZXZGTjN4bkpRUUo5OUJCQUNBQUFBQUhTY1V3QUFBU0FaRE80ZmVX
//pkgs.dev.azure.com/KohlerDevOps/_packaging/kds/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/KohlerDevOps/_packaging/kds/npm/:username=KohlerDevOps
//pkgs.dev.azure.com/KohlerDevOps/_packaging/kds/npm/:_password=Q2tEUzROT1hBWmhiYTFrZU5sMGRuTGV5OHdwNkxZYTN0MHhaQzZlREltakVzZXZGTjN4bkpRUUo5OUJCQUNBQUFBQUhTY1V3QUFBU0FaRE80ZmVX
//pkgs.dev.azure.com/KohlerDevOps/_packaging/kds/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
loglevel=info